*{
	margin: 0px;
	padding: 0px;
}

.bg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.box{
    width: 100%;
    height: 100%;
    position: absolute;
    /* left: 0px; */
    /* top: 0px; */
    z-index: -1;
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 60vw;
    height: 30vw;
    position: relative;
    /* left: 20vw; */
    /* top: 15vh; */
    display: flex;
    flex-direction: row;
}

#box_pic1{
    background-image: url(../media/img/en_organ/100px-UNEP_logo.svg.png);
}

#box_pic2{
	background-image: url(../media/img/en_organ/162px-WWF_logo.svg.png);
}

#box_pic3{
	background-image: url(../media/img/en_organ/150px-IUCN_logo.svg.png);
}

.choose_box{/*正常大小*/
    width: 30vw;
    height: 100%;
    /* border: 1px solid black; */
    /* margin: 1vw 3vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_box1{
    /* background-color: #ffbe5d; */
    background-repeat: no-repeat;
    /* background-color: white; */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #717171;
    cursor: pointer;
}
/*
#box_pic1::after{
    content: '';
    width: 13vw;
    height: 100%;
    background-color: aqua;
}*/

.original{
	width:13vw;
	height: 90%;
}

.changing{
    width: 14vw;
    height: 95%;
    box-shadow: 5px 5px 3px 0px #b1b1b1;
    animation: c_b 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0, 2.69);
}

@keyframes c_b {
	0%{
		width: 13vw;
		height: 90%;
	}

	100%{
		width: 15vw;
		height: 95%;
	}
}

.down_box{
    width: 60vw;
    height: 10vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    position: relative;
		justify-content: center;
		align-items: center;
}

.down_word{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.down_title{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.down_title_a{
    color: #404040;
    text-decoration: none;
}

.down_intro{
    width: 70%;
    height: 70%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
