*{
  margin: 0px;
  padding: 0px;
  /*border:1px solid;*/
}

.bg_box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    /* top: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

.left_main{
    width: 70%;
    height: 100%;
    position: relative;
    left: 0px;
    /* top: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.left_bg{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4eec0;
    /*animation: color 2s;*/
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.6, 0.85, 0.77, 1.1);
}

@keyframes color {/*背景渐变动画*/
  0%{
    background-color: #f4eec0;
  }
  100%{
    background-color: #61b292;
  }
}

@keyframes color_restore {
  0%{
    background-color: #61b292;
  }
  100%{
    background-color: #7e6752;
  }
}

.left_bgbox{
    width: 20vw;
    height: 20vw;
    position: relative;
    overflow: hidden;
    /* top: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.left_word{
    /*border: 1px solid;*/
    width: 3vw;
    height: 50%;
    position: absolute;
    left: 15vw;
    font-size: 2vw;
    overflow: hidden;
}

#left_word{
    position: relative;
    bottom: -27vw;
    opacity: ;
    /*animation: word 2s cubic-bezier(0.49, 0.76, 0.71, 1.13) 0s 1 normal forwards running;*/
}

@keyframes word{
  0%{
    bottom: -27vw;
  }
  100%{
    bottom: 0vw;
  }
}

@keyframes word_opa{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.left_tree{
    width: 20vw;
    height: 35vw;
    position: absolute;
    top: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../media/img/us/tree.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: rotate(180deg);
    transform: rotate(180deg);
    animation: rotate 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.15, 0.31, 0.63, 1.24);
    animation-iteration-count: 1;*/
  }

@keyframes rorate {/*小树旋转动画*/
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes rorate_restore {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.right_word{
    width: 3vw;
    height: 50%;
    position: absolute;
    right: 10vw;
    top: 8vw;
    font-size: 2vw;
}

#right_word{
  display: none;
  /*animation: right_blur 2s ease 0s 1 normal forwards;*/
}

@keyframes right_blur{
  0%{
    filter: blur(20px);
  }
  100%{
    filter: blur(0px);
  }
}

/*.left_garbge{
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 5vw;
    bottom: 5vw;
    background-image: url(../media/img/us/white-male-2064819_1280.png);
    background-repeat: no-repeat;
    background-size: contain;
}*/

.right_extra{
    width: 30%;
    height: 100%;
    position: relative;
    right: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.right_up{
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right_up::before {
    content: '';
    background-color: #aed09e;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 30vw;
    /* z-index: -1; */
    animation: moveleft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.38, 0.82, 0.19, 1.24);
}

@keyframes moveleft {/*右上盒子移入动画*/
  0%{
    transform: translateX(0vw);
  }
  100%{
    transform: translateX(-30vw);
  }
}

.ru_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ru_word {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30vw;
    /*border: 1px solid;*/
    animation: moveleft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.38, 0.82, 0.6, 1.25);
}

.ruwd_title{
    width: 90%;
    height: 30%;
    position: relative;
    top: 15%;
    left: 5%;
    font-size: 2vw;
}

.ruwd_intro{
    width: 90%;
    height: 30%;
    position: relative;
    top: 15%;
    left: 5%;
    font-size: 2vw;
    font-weight: lighter;
}

.ru_btn{
    width: 8vw;
    height: 2vw;
    position: relative;
    left: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #6d6d6d;
    cursor: pointer;
    animation: moveleft 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.38, 0.82, 0.6, 1.25);
    font-size: 1vw;
}

.ru_btn:hover{
    width: 8vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px #7d7d7d, inset 1px 1px 1px 0px #8e8e8e;
}

.right_down{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.rd_pic{
    width: 100%;
    height: 30vw;
    background-image: url(../media/img/us/nature-plant-green-paprika.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@keyframes pic_big{
  0%{
    height: 30vw;
  }
  100%{
    height: 32vw;
  }
}

@keyframes pic_restore{
  0%{
    height: 32vw;
  }
  100%{
    height: 30vw;
  }
}
